<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Online Shopping</title>

    <!-- Bootstrap core CSS -->

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- Add custom CSS here -->
    <link href="~/Content/shop-homepage.css" rel="stylesheet" />
    
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type='text/javascript' src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    
    
    <!-- Add mousewheel plugin (this is optional) -->
    <script type="text/javascript" src="~/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

    <!-- Add fancyBox -->
    <link rel="stylesheet" href="~/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <script type="text/javascript" src="~/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>

    <!-- Optionally add helpers - button, thumbnail and/or media -->
    <link rel="stylesheet" href="~/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
    <script type="text/javascript" src="~/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <script type="text/javascript" src="~/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

    <link rel="stylesheet" href="~/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
    <script type="text/javascript" src="~/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body style="background-color:lightyellow">

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="~/Home/Index">Home</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="~/Account/signin">Sign In</a>
                    </li>
                    <li><a href="~/Account/signup">Sign Up</a>
                    </li>
                    <li><a href="~/Home/about">About</a>
                    </li>
                    <li><a href="~/Home/contact">Contact</a>
                    </li>
                    <li><a href="~/Home/search">Search</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


<br /><br />


    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Sannan's Shop</p>
                <div class="list-group">
                    <a href="~/Home/cars" class="list-group-item">Cars</a>
                    <a href="~/Home/shirts" class="list-group-item">Men's Shirts</a>
                    <a href="~/Home/cameras" class="list-group-item">Cameras</a>
                    <a href="~/Home/watches" class="list-group-item">Watches</a>
                    <a href="~/Home/laptops" class="list-group-item">Laptops</a>
                    <a href="~/Home/mobiles" class="list-group-item">Mobile Phones</a>
                </div>
            </div>



    @RenderBody()

            </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Company 2014 - Made by <a href="#">M.Sannan Khurshid</a>
                    </p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- JavaScript -->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <script type='text/javascript' src="~/Scripts/jquery.min.js"></script>

    <script type='text/javascript' src="~/Scripts/bootstrap.min.js"></script>
            
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>


    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
